<!DOCTYPE html>
<html>
  <head>
    <title>My App</title>
  </head>

  <body>
    <div id="app"><%- markup %></div>
    <!-- Include the below to enable isomorphic rendering -->
    <!-- Exclude it will result in server side rendering only -->
    <script src="build.js"></script>
  </body>
</html>